@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Open Sans', sans-serif;

}

header,
footer {
    background-color: white;
    color: black;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    text-align: center;

}

/* headings and logo */
h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 30px;
}

/* navigation links */

menu {
    font-size: 200%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* table tennis image */

#table-tennis-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;

}


#table-tennis {
    height: 350px;
    width: 100%;
    background: url(../images/table.jpg) no-repeat center center;
}

/* description */

.wrapper {
    height: 400px;
    padding-top: 30px;
    width: 100%;
    max-width: 960px;
    margin: 20px auto;

}

.wrapper h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    margin: 5px;

}


.container .box {
    background: rgb(239, 202, 137, .7);
    margin: 5px;
    margin-bottom: 50px;
    height: 280px;
    width: 450px;
    padding: 5px;
    padding-top: 40px;
    line-height: 20px;
    color: 8e8b8b;
    border-radius: 10px;
    box-sizing: border-box;
    letter-spacing: 1px;
    position: relative;
    flex: 1;
    border: 1px solid black;

}

.container .box h3 {
    color: red;
    font-size: 26px;

}

.box:first-child {
    margin-left: 0;
}

.box:last-child {
    margin-right: 0;
}

.menu-box,
li {
    list-style-position: inside;
    text-align: justify;

}


/* Training sessions */

.description-training {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
    padding-bottom: 30px;

}

#training-session {
    text-align: center;
}

#schedule {
    background-image: url(../images/rackets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#schedule div {
    color: #fafafa;
    background-color: rgba (0, 0, 0, .6);
    width: 25%;
    height: 150px;
    float: left;
    padding-top: 50px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* footer */

footer {
    height: 160px;
    clear: both;
}

.social-icons {
    text-align: center;

}

.social-icons>li {
    display: inline;
}

.social-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* contact page and signup form*/



.background-image {
    background-image: url(../images/table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 100%;
    overflow: hidden;

}


.form {
    text-align: center;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    background: #f1f1f1;
    position: absolute;
    width: 85%;
}

.form h2 {
    margin-top: 0;
    font-weight: 200;
}


.field {
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;

}

.field label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;


}

.field input,
.field textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;

}



button {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn {
    background-color: #1c8adb;

}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


}

/* gallery page */

.pictures {
    position:;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minimax(400px,400px));
    column-gap: 10px;
    row-gap: 10px;

}

img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
    background: black;
    
}
 

/* confirm page */

.confirm {
    background: url(../images/balls.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.middle {
    font-family: 'Lato', sans-serif;
    color: black;
    border-radius: 15px;
    background: #efca89;
    position: relative;
    text-align: center;
    font-size: 18px;
    flex: 1;
    max-width: 940px;
    height: 100px;
    margin: 10px;
    padding: 70px 0;
}

/* media queries */

/* for big screens up to 1200px */

@media screen and (max-width:1200px) {

    #schedule>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #container>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        float: left;
        height: 1500px;
    }

}

/* for medium screens up to 950px */

@media screen and (max-width:950px) {

    .container .box {
        margin-bottom: 5px;
        flex-basis: 40%;
    }

    .container .box:first-child {
        flex-basis: 100%;
        margin: 0;
    }

    .container .box:nth-last-child(2) {
        margin-right: 0;
    }


}

/* for small screens up to 800px */

@media screen and (max-width:800px) {


    .container .box {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}